.nav-bar {
    background-color: #F7F9F9;
    color: #1C2833;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
 /* .logo {

} */
.lista-nav {
    list-style: none;
    display: flex;
    justify-content: row;
    width: 60%;
} 
.lista-nav a li {
    padding: 1rem;
    margin: 0 1rem;
    
}
.lista-nav a li:hover {
    cursor: pointer;
}