.navBar {
    background-color: #F7F9F9;
    color: #1C2833;
}
 /* .drop-down-menu:hover {

}   */
.drop-down-menu-content {
    display: none;
    position: absolute;
    min-width: 10rem;
    box-shadow: 0.8rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.drop-down-menu-content a {
    float: none;
    padding: 1rem 1rem;
    display: block;
}
 /*.drop-down-menu-content a:hover {
}  */
.drop-down-menu:hover .drop-down-menu-content {
    display: block;
} 